In [1]:
import gcp.bigquery as bq
import pandas as pd
import numpy as np

In [ ]:
%%bigquery schema --table "nyc-tlc:green.trips_2015"

In [3]:
%%sql
SELECT DAYOFYEAR(pickup_datetime) AS daynumber FROM [nyc-tlc:green.trips_2015] LIMIT 10

QueryResultsTable job_av04ATDAoj16tyf5WGYzr3lMTe4

In [4]:
%%sql --module taxiquery
SELECT daynumber, COUNT(*) AS numtrips FROM
    (SELECT DAYOFYEAR(pickup_datetime) AS daynumber FROM [nyc-tlc:green.trips_$YEAR])
GROUP BY daynumber ORDER BY daynumber

In [5]:
trips = bq.Query(taxiquery, YEAR=2015).to_dataframe()
trips[:5]

   daynumber  numtrips
0          1     62943
1          2     43410
2          3     53866
3          4     41602
4          5     41923

In [6]:
avg = np.mean(trips['numtrips'])
print 'Just using average={0} has RMSE of {1}'.format(avg, np.sqrt(np.mean((trips['numtrips'] - avg)**2)))

Just using average=54674.0994475 has RMSE of 10163.4654442

In [8]:
%%sql
SELECT * FROM [fh-bigquery:weather_gsod.stations]
WHERE state = 'NY' AND wban != '99999' AND name contains 'LA GUARDIA'

QueryResultsTable job_EdZzA_p8ke39Vpl9qgfkt6y9Fu4